{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <div class="container">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="col-md-1"><button class="btn btn-primary">{{ button|default('Editer') }}</button></div>
        {{ form_end(form) }}
    </div>

{% endblock %}

