{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
<div class="container">
    {{ include('bareme/_form.html.twig') }}
    <a href="{{ path('bareme.delete',{'bareme': bareme.id}) }}"> <button class="btn btn-danger">Supprimer</button></a>
</div>

{% endblock %}

